<!DOCTYPE html>
<html lang="en">
<%- include('./partials/setup.ejs')%>
<body>
    <%- include('./partials/navbar.ejs')%>  
    <% for(let i=0;i<songs.length;i++){ %>
        <a href="/song/<%=songs[i]._id%>">Song Info</a>  
        <!-- <a href="#" onclick="top.window.location.href='/';" target="_top"> -->
            <form action="/" method="POST">
                <input class='changeSong' type="submit" name='song' value='<%=songs[i].mp3%>'>
            </form>
        <!-- </a> -->
    <% } %>
</body>
</html>