<!DOCTYPE html>
<html lang="en">
<%- include('./partials/setup.ejs')%>
<body>
    <iframe id='current' src="/home" frameborder="0"></iframe>    
    <iframe id='iframe-player' src="/player" frameborder="0" style="width: 100%;"></iframe>
</body>
</html>