<!DOCTYPE html>
<html lang="en">
<%-include('./partials/setup.ejs')%>
<body>
    <%-include('./partials/navbar.ejs')%>
    <div>
        <img src="" alt="Standard Image">
        <h3><%currentPlaylist.name%></h3>
        <form action="">
            <button type="submit">Edit</button>
        </form>
    </div>
    <div>
        
    </div>
</body>
</html>